# DIS08 / OR92 Data Modeling: Python - Introduction (Setup, file management, etc.)

In this lecture, we’ll cover and recap the basics of Python programming, including:

- Python data structures: lists, tuples, dictionaries, and sets.
- Basic file management: reading from and writing to files.
- String handling: manipulation of text data and regular expressions.

In the lab assignments, you will setup your Python development environment, rerun this notebook, and get started with the `pandas` library.

If you would like to study Python more in-depth, we recommend the book [Automate the Boring Stuff With Python](https://automatetheboringstuff.com/). This book also inspired some of the contents in this notebook.

1. Basic Syntax

In [ ]:
# This is a comment in Python

In [1]:
# Print "Hello, World!" to the console
print("Hello, World!")

Hello, World!

In [2]:
# Variable assignment
x = 5  
x

5

2. Data Types

In [4]:
# Integer type
integer_num = 10
type(integer_num)

int

In [5]:
# Float type
float_num = 3.14
type(float_num)

float

In [6]:
# String type
str_val = "Python"
type(str_val)

str

3. Basic Operators

In [8]:
a = 10
b = 3

In [9]:
# Addition
print(a + b)

13

In [10]:
# Subtraction
print(a - b)

7

In [11]:
# Multiplication
print(a * b)

30

In [12]:
# Division
print(a / b)

3.3333333333333335

In [13]:
# Modulus (remainder)
print(a % b)

1

In [14]:
# Exponentiation
print(a ** b)

1000

4. Control Structures

In [15]:
# If-Else statement
x = 5
if x > 0:
    print("Positive")
elif x < 0:
    print("Negative")
else:
    print("Zero")

Positive

In [16]:
# For loop
for i in range(5):
    print(i)

0
1
2
3
4

In [17]:
# While loop
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

## Data Structures

In [18]:
# List
my_list = [1, 2, 3, 4, 5]
print(my_list[0])  # Accessing elements

# Tuple (immutable list)
my_tuple = (6, 7, 8)
print(my_tuple[0])

# Dictionary (key-value pairs)
my_dict = {"name": "John", "age": 30, "city": "New York"}
print(my_dict["name"])

# Set
my_set = {"apple", "banana", "cherry"}
print(my_set)

1
6
John
{'banana', 'apple', 'cherry'}

A list is a collection which is ordered and changeable. It allows duplicate members.

In [19]:
# Creating a list
fruits = ["apple", "banana", "cherry"]
print(fruits)

# Adding an item
fruits.append("orange")
print(fruits)

# Accessing items
print(fruits[1])

# Removing an item
fruits.remove("banana")
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']
banana
['apple', 'cherry', 'orange']

A tuple is a collection which is ordered but unchangeable (immutable). It allows duplicate members.

In [20]:
# Creating a tuple
my_tuple = ("apple", "banana", "cherry")
print(my_tuple)

# Accessing items
print(my_tuple[1])

# Tuples are immutable, so the following code will cause an error:
# my_tuple[1] = "orange"

('apple', 'banana', 'cherry')
banana

A dictionary is a collection which is unordered, changeable, and indexed. It does not allow duplicates.

In [21]:
# Creating a dictionary
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
print(person)

# Accessing values
print(person["name"])

# Modifying a value
person["age"] = 26
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}
Alice
{'name': 'Alice', 'age': 26, 'city': 'New York'}

6. Functions

In [22]:
def greet(name):
    """This function greets the person passed in as parameter"""
    print(f"Hello, {name}!")

greet("Alice")  # Output: Hello, Alice!

Hello, Alice!

A set is a collection which is unordered, unindexed, and does not allow duplicate members.

In [23]:
# Creating a set
my_set = {"apple", "banana", "cherry"}
print(my_set)

# Adding an item
my_set.add("orange")
print(my_set)

# Removing an item
my_set.remove("banana")
print(my_set)

{'banana', 'apple', 'cherry'}
{'orange', 'banana', 'apple', 'cherry'}
{'orange', 'apple', 'cherry'}

## Basic File Management in Python

You can also use many command line tools in a Jupyter notebook. We use `echo` to create a first text file.

In [ ]:
!echo "This is the beginning of a new file!\n" >> example.txt

To read a file, use the open() function in reading mode ('r').

In [24]:
# Reading from a file
file = open("example.txt", "r")

# Read the entire content of the file
content = file.read()
print(content)

# Always remember to close the file after you're done
file.close()

This is the beginning of a new file!

To write to a file, use the open() function in write mode ('w').

In [25]:
# Writing to a file
file = open("example.txt", "w")
file.write("Hello, World!\nThis is a new line.")
file.close()

You can also append data to an existing file using append mode ('a').

In [26]:
# Appending to a file
file = open("example.txt", "a")
file.write("\nThis is an appended line.")
file.close()

It’s a good practice to use the `with` statement when working with files to ensure the file is properly closed after the operations.

In [27]:
# Using 'with' statement to open and read a file
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

Hello, World!
This is a new line.
This is an appended line.

## String Handling in Python

Python provides a variety of methods for manipulating and handling strings.

In [ ]:
# Concatenating strings
greeting = "Hello"
name = "Alice"
message = greeting + ", " + name + "!"
print(message)

**String Formatting:** You can format strings using the format() method or f-strings (in Python 3.6+).

In [ ]:
# Using format method
message = "Hello, {}!".format(name)
print(message)

# Using f-strings (Python 3.6+)
message = f"Hello, {name}!"
print(message)

**String Methods:** Some common string methods in Python include upper(), lower(), replace(), and split().

In [ ]:
# Changing case
text = "Hello, World!"
print(text.upper())
print(text.lower())

# Replacing parts of a string
print(text.replace("World", "Python"))

# Splitting a string
words = text.split(", ")
print(words)

**Regular expressions:** The re.search() function searches for a match in a string.

In [ ]:
import re

# Search for the word 'Python' in a string
text = "Welcome to Python programming!"
pattern = "Python"

# Search for the pattern
match = re.search(pattern, text)

# The re.search() function looks for the word “Python” in the text. If found, it returns a match object, otherwise None.
if match:
    print("Match found!")
else:
    print("No match.")

## Quiz time!

**Question:** What will be the output of the following code?

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits[1])

A) "apple"  
B) "banana"  
C) "cherry"  
D) ["apple", "banana", "cherry", "orange"]

**Question:** What error will the following code produce?

In [ ]:
colors = ("red", "green", "blue")
colors[1] = "yellow"

A) TypeError: 'tuple' object does not support item assignment  
B) IndexError: tuple index out of range  
C) No error, it works fine  
D) AttributeError: 'tuple' object has no attribute 'append'

**Question:** What will be the value of car["year"] after running the following code?

In [ ]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
car["year"] = 2022
print(car["year"])

A) 1964  
B) 2022  
C) None  
D) KeyError: 'year'

**Question:** What will happen if the following code is executed, and example.txt doesn’t exist in the directory?

In [ ]:
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

A) It will create a new file named example.txt.  
B) It will throw a FileNotFoundError.  
C) It will print an empty string.  
D) It will print None.

**Question:** What will be the value of message in the following code?

In [ ]:
name = "Alice"
greeting = "Hello"
message = greeting + ", " + name + "!"
print(message)

A) "Hello Alice"  
B) "Hello, Alice!"  
C) "Hello Alice!"  
D) ", Alice!"

**Question:** What will the following code output?

In [ ]:
text = "Welcome to Python"
print(text.upper())

A) WELCOME TO PYTHON  
B) welcome to python  
C) Welcome To Python  
D) Welcome to python

**Question:** What happens if you try to add a duplicate item to a set?

In [ ]:
my_set = {"apple", "banana", "cherry"}
my_set.add("banana")
print(my_set)

A) The set will now contain two "banana" items.  
B) The set will raise an error.  
C) The set will remain unchanged.   
D) The set will reorder itself.

**Question:** What is the correct way to format a string using f-strings in the following code?

In [ ]:
name = "Alice"
age = 25
message = f"My name is ... and I am ... years old."
print(message)

A) f"My name is {name} and I am {age} years old."  
B) f"My name is name and I am age years old."  
C) "My name is {name} and I am {age} years old."  
D) "My name is name and I am age years old."

**Question:** What will be the output of the following code?

In [ ]:
numbers = [10, 20, 30, 40, 50]
print(numbers[-2])

A) 20  
B) 40  
C) 30  
D) 50

**Question:** What will the following code output?

In [ ]:
person = {
    "name": "John",
    "age": 30
}
print("height" in person)

A) True  
B) False  
C) None  
D) KeyError: 'height'

## Lab Assignments

Download this notebook from Moodle and rerun the examples from today's lecture. If you can execute all of the code cells above you are done! The setup guide below will help you to get started!

Once, you have setup your Python/Jupyter environment, please do the following task:

- Download this [dataset](https://librarycarpentry.org/lc-python-intro/files/data.zip) and extract it (do not commit it to this repository).
- Get familiar with the [pandas](https://pandas.pydata.org/) library and install it in your Python environment.
- Load one or more of the CSV files in the data/ directory as a DataFrame.
- Use the functions `info()`, `head()`, `tail()`, `describe()`, and the variable `columns` to get some basic information about the data. Also document and describe the outputs.
- How do you get the first/last ten rows of the DataFrame?
- How do you get the rows between row 30 and row 40?
- How do you get a specific column, e.g., 'year'? What kind of `type()` has the column?
- What is the `*.pkl` file? How do load it into your program and what are the data contents in it?
- What is the purpose of `.loc()` and `.iloc()`?
- How do you sort values in a column?

When you have completed the tasks, please commit this notebook to your GitHub repository in the directory `assignments/06/`.

In [45]:
import pandas as pd

with open("/Users/johnsonbpt/Downloads/data/2011_circ.csv","r") as data:
    print(data.read())

branch,address,city,zip code,january,february,march,april,may,june,july,august,september,october,november,december,ytd
Albany Park,5150 N. Kimball Ave.,Chicago,60625.0,8427,7023,9702,9344,8865,11650,11778,11306,10466,10997,10567,9934,120059
Altgeld,13281 S. Corliss Ave.,Chicago,60827.0,1258,708,854,804,816,870,713,480,702,927,787,692,9611
Archer Heights,5055 S. Archer Ave.,Chicago,60632.0,8104,6899,9329,9124,7472,8314,8116,9177,9033,9709,8809,7865,101951
Austin,5615 W. Race Ave.,Chicago,60644.0,1755,1316,1942,2200,2133,2359,2080,2405,2417,2571,2233,2116,25527
Austin-Irving,6100 W. Irving Park Rd.,Chicago,60634.0,12593,11791,14807,14382,11754,14402,14605,15164,14306,15357,14069,12404,165634
Avalon,8148 S. Stony Island Ave. ,Chicago,60617.0,5664,4367,5937,5980,5596,6286,6184,6933,6574,6955,6113,5295,71884
Back of the Yards,4650 S. Damen Ave.,Chicago,60609.0,5485,5171,6024,6592,5170,4033,4832,3129,34,0,0,0,40470
Beverly,1962 W. 95th St.,Chicago,60643.0,8049,7473,9239,9449,8299,10053,10086,9595,8439,9610,8749,7578,106619
Bezazian,1226 W. Ainslie St.,Chicago,60640.0,8875,7424,10887,11298,11739,15133,17067,18348,15412,15517,14860,15243,161803
Blackstone,4904 S. Lake Park Ave.,Chicago,60615.0,9351,7938,10687,10760,9879,11639,11133,12428,11102,11781,11179,11005,128882
Brainerd,1350 W. 89th St.,Chicago,60620.0,1140,1042,1436,1512,1296,1367,1550,1523,1666,1696,1370,1059,16657
Brighton Park,4314 S. Archer Ave.,Chicago,60632.0,7416,6102,8493,8430,7183,8457,8793,8493,8449,10208,9505,7562,99091
Bucktown-Wicker Park,1701 N. Milwaukee Ave.,Chicago,60647.0,13113,12220,15705,14535,14146,15115,14948,15804,15233,15428,14650,12499,173396
Budlong Woods,5630 N. Lincoln Ave.,Chicago,60659.0,12841,10823,13647,13244,11637,14817,15273,15410,12609,13648,13791,12531,160271
Canaryville,642 W. 43rd St.,Chicago,60609.0,2665,2419,3466,2908,2608,2849,3078,3189,3124,3383,3115,2877,35681
Chicago Bee,3647 S. State St.,Chicago,60609.0,1175,1054,1397,1310,1197,1252,1279,1451,1511,1647,1503,1353,16129
Chicago Lawn,6120 S. Kedzie Ave. ,Chicago,60629.0,4578,3623,5756,5470,4397,5148,5674,5760,6538,7463,6229,5303,65939
Chinatown,2353 S. Wentworth Ave.,Chicago,60616.0,14027,11021,14094,14346,13080,13615,13609,13664,12098,13107,12661,13127,158449
Clearing,6423 W. 63rd Pl.,Chicago,60638.0,6718,5460,7109,6218,5844,6709,7385,6692,6343,6928,6960,5577,77943
Coleman,731 E. 63rd St.,Chicago,60637.0,2306,2001,2646,2747,2784,2846,2827,3339,3383,3723,2862,2516,33980
"Daley, Richard J. - Bridgeport",3400 S. Halsted St.,Chicago,60608.0,6995,6201,8667,8371,7894,8414,8754,8968,9035,9232,8542,8229,99302
"Daley, Richard M. - W Humboldt",733 N. Kedzie Ave.,Chicago,60612.0,0,0,3,5,3,0,5544,8248,6748,6421,6207,5132,38311
Douglass,3353 W. 13th St.,Chicago,60623.0,1587,1142,1965,2128,1872,1820,2127,2823,2290,2373,2082,1982,24191
Dunning,7455 W. Cornelia Ave.,Chicago,60634.0,0,0,1,5,6242,8177,8417,8336,7218,8562,7516,6418,60892
Edgebrook,5331 W. Devon Ave.,Chicago,60646.0,10231,8938,11917,11354,9871,12560,11815,11229,10423,11224,10649,9077,129288
Edgewater,1210 W. Elmdale Ave.,Chicago,60660.0,11573,9666,13273,13317,12808,7011,1515,1617,1604,1543,1420,1583,76930
Gage Park,2807 W. 55th St.,Chicago,60632.0,2109,1849,2960,3213,2401,2686,2842,2849,2993,3926,3170,2980,33978
Galewood-Mont Clare,6871 W. Belden Ave.,Chicago,60707.0,519,546,758,760,572,847,1073,1188,807,823,781,544,9218
Garfield Ridge,6348 S. Archer Ave.,Chicago,60638.0,6138,5229,7473,6397,5925,9112,8990,6944,7060,7959,7172,6082,84481
Greater Grand Crossing,1000 E. 73rd St.,Chicago,60619.0,0,3,190,971,2463,3660,3503,4432,3642,4142,3665,3251,29922
Hall,4801 S. Michigan Ave.,Chicago,60615.0,2416,1914,2720,2644,2693,3134,3373,2953,2894,2944,2836,2875,33396
Harold Washington Library Center,400 S. State St.,Chicago,60605.0,79210,67574,89122,88527,82581,82100,80219,85193,81400,82236,79702,68856,966720
Hegewisch,3048 E. 130th St.,Chicago,60633.0,3221,2749,3668,3492,3181,3324,3852,3934,3570,3755,3617,3073,41436
Humboldt Park,1605 N. Troy St.,Chicago,60647.0,6251,5736,7798,8184,7509,7502,7019,7120,6609,7424,6943,6730,84825
Independence,3548 W. Irving Park Rd.,Chicago,60618.0,8860,7653,9773,10897,9401,11998,12958,11913,10682,11534,10603,9614,125886
Jefferson Park,5363 W. Lawrence Ave.,Chicago,60630.0,8819,8308,10663,11099,9422,10735,10591,11447,10447,11033,10757,9755,123076
Jeffery Manor,2401 E. 100th St.,Chicago,60617.0,1223,1115,1757,1811,1429,1531,1437,1702,1554,1684,1613,1463,18319
Kelly,6151 S. Normal Boulevard,Chicago,60621.0,963,827,1315,1143,1004,1384,1585,1918,1705,2200,1729,1575,17348
King,3436 S. King Dr.,Chicago,60616.0,1903,1795,2586,2875,3108,3255,3446,3732,3505,3711,3257,3107,36280
Legler Regional,115 S. Pulaski Rd.,Chicago,60624.0,1344,1080,1635,1699,1425,1690,1485,1075,1866,1791,1795,1602,18487
Lincoln Belmont,1659 W. Melrose St.,Chicago,60657.0,14395,12810,17392,16567,14487,18539,17242,17970,16568,17209,16397,14692,194268
Lincoln Park,1150 W. Fullerton Ave.,Chicago,60614.0,11018,9450,12384,12234,11213,13035,13260,12480,11702,11917,11478,10706,140877
Little Village,2311 S. Kedzie Ave.,Chicago,60623.0,0,0,0,0,0,0,0,2,0,15910,14632,11732,42276
Logan Square,3030 W. Fullerton Ave.,Chicago,60647.0,11179,10074,13568,13074,11784,13474,13254,14015,13316,14825,13995,13183,155741
Lozano,1805 S. Loomis St.,Chicago,60608.0,5076,4761,6317,6354,5622,6251,6204,7287,6854,7698,6589,6029,75042
Manning,6 S. Hoyne Ave.,Chicago,60612.0,3308,3087,3771,3914,3401,3864,4079,3991,3887,3993,3798,3608,44701
Mayfair,4400 W. Lawrence Ave.,Chicago,60630.0,3998,3481,5227,5528,4723,6321,6965,6688,5764,6146,5564,5613,66018
McKinley Park,1915 W. 35th St.,Chicago,60609.0,7396,6460,8744,8587,7632,8859,8415,9425,8833,9537,9165,8328,101381
Merlo,644 W. Belmont Ave.,Chicago,60657.0,9547,8804,10948,9937,9314,11206,11556,11287,11042,11746,11158,10615,127160
Mount Greenwood,11010 S. Kedzie Ave.,Chicago,60655.0,7363,5868,8418,7284,6552,8778,9325,7682,6964,7326,7148,5981,88689
Near North,310 W. Division St.,Chicago,60610.0,11032,10021,12911,12621,12437,13988,13955,14729,13989,13355,13006,12194,154238
North Austin,5724 W. North Ave.,Chicago,60639.0,2481,2045,2674,2832,2202,2694,3302,3225,3160,3074,2796,2272,32757
North Pulaski,4300 W. North Ave.,Chicago,60639.0,3848,3176,4111,5066,3885,5105,5916,5512,5349,6386,5952,5372,59678
Northtown,6435 N. California Ave.,Chicago,60645.0,10191,8314,11569,11577,10902,14202,15310,14152,11623,12266,12673,12227,145006
Oriole Park,7454 W. Balmoral Ave.,Chicago,60656.0,11999,11206,13675,12755,10364,12781,12219,12066,10856,11324,10503,9878,139626
Portage-Cragin,5108 W. Belmont Ave.,Chicago,60641.0,9185,7634,9760,10163,7995,9735,10617,11203,10188,11418,10718,9517,118133
Pullman,11001 S. Indiana Ave.,Chicago,60628.0,1916,1206,1975,2176,2019,2347,2092,2426,2476,2611,2530,2033,25807
Roden,6083 N. Northwest Highway,Chicago,60631.0,6336,5830,7513,6978,6180,8519,8985,7592,6628,7113,6999,6082,84755
Rogers Park,6907 N. Clark St.,Chicago,60626.0,10537,9683,13812,13745,13368,18314,20367,19773,18419,18972,17255,16597,190842
Roosevelt,1101 W. Taylor St.,Chicago,60607.0,6357,6171,8228,7683,7257,8545,8134,8289,7696,7598,7019,6665,89642
Scottsdale,4101 W. 79th St.,Chicago,60652.0,4475,4049,5551,5088,4399,4985,5803,5878,4716,5302,4832,4659,59737
Sherman Park,5440 S. Racine Ave.,Chicago,60609.0,987,594,1232,1520,1669,1553,1919,2124,2070,2163,2103,1884,19818
South Chicago,9055 S. Houston Ave.,Chicago,60617.0,3791,2879,4479,4207,4226,5118,4327,5228,5013,5448,4933,4519,54168
South Shore,2505 E. 73rd St.,Chicago,60649.0,2620,2158,3146,3555,3114,3498,3825,4102,4085,4386,3830,3635,41954
Sulzer Regional,4455 N. Lincoln Ave.,Chicago,60625.0,50375,42237,57391,50874,49563,53322,54941,56920,51054,54375,52274,46408,619734
Thurgood Marshall,7506 S. Racine Ave.,Chicago,60620.0,2998,2377,3355,3439,2635,3229,3359,3640,3709,4321,3246,3227,39535
Toman,2708 S. Pulaski Rd.,Chicago,60623.0,9018,8186,11518,12127,9735,12723,12150,12045,12374,13302,11558,10455,135191
Uptown,929 W. Buena Ave.,Chicago,60613.0,7374,6813,8818,9142,8497,10014,10888,10424,9764,10001,8865,8741,109341
Vodak-East Side,3710 E. 106th St.,Chicago,60617.0,5965,5399,6620,6206,5419,6820,4920,6388,6590,6711,5998,4980,72016
Walker,11071 S. Hoyne Ave.,Chicago,60643.0,3168,2901,3869,3921,3813,4667,4519,4636,4195,4237,3646,4062,47634
Water Works,163 E. Pearson St.,Chicago,60611.0,2609,2870,3718,3529,3669,3666,4099,4292,4138,4321,4219,3917,45047
West Belmont,3104 N. Narragansett Ave.,Chicago,60634.0,8889,8470,11577,11686,9020,10337,11273,10405,9659,11313,11445,9835,123909
West Chicago Avenue,4856 W. Chicago Ave.,Chicago,60651.0,1277,934,1961,2131,2091,2068,1884,2170,2147,2207,1612,1609,22091
West Englewood,1745 W. 63rd St.,Chicago,60636.0,1522,1422,1878,1975,1724,1819,1815,2193,2401,2578,2097,1834,23258
West Lawn,4020 W. 63rd St.,Chicago,60629.0,7606,6076,8552,8896,7313,8150,5703,7723,8201,10621,8101,7980,94922
West Pullman,830 W. 119th St.,Chicago,60643.0,3312,2713,3495,3550,3010,2968,3844,3811,3209,3923,3162,3147,40144
West Town,1625 W. Chicago Ave.,Chicago,60622.0,9030,7727,10450,10607,10139,10410,10601,11311,11084,10657,10797,9275,122088
"Whitney M. Young, Jr.",7901 S. King Dr.,Chicago,60619.0,2588,2033,3099,3087,3005,2911,3123,3644,3547,3848,3324,3190,37399
Woodson Regional,9525 S. Halsted St.,Chicago,60628.0,10564,8874,10948,9299,9025,10020,10366,10892,10901,13272,11421,9474,125056
Wrightwood-Ashburn,8530 S. Kedzie Ave.,Chicago,60652.0,3062,2780,3334,3279,3036,3801,4600,3953,3536,4093,3583,3200,42257

           branch                address     city  zip code  january  \
0     Albany Park   5150 N. Kimball Ave.  Chicago   60625.0     8427
1         Altgeld  13281 S. Corliss Ave.  Chicago   60827.0     1258
2  Archer Heights    5055 S. Archer Ave.  Chicago   60632.0     8104

   february  march  april   may   june   july  august  september  october  \
0      7023   9702   9344  8865  11650  11778   11306      10466    10997
1       708    854    804   816    870    713     480        702      927
2      6899   9329   9124  7472   8314   8116    9177       9033     9709

   november  december     ytd
0     10567      9934  120059
1       787       692    9611
2      8809      7865  101951

In [71]:
df = pd.read_csv("/Users/johnsonbpt/Downloads/data/2011_circ.csv")

In [48]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   branch     80 non-null     object
 1   address    80 non-null     object
 2   city       80 non-null     object
 3   zip code   80 non-null     float64
 4   january    80 non-null     int64
 5   february   80 non-null     int64
 6   march      80 non-null     int64
 7   april      80 non-null     int64
 8   may        80 non-null     int64
 9   june       80 non-null     int64
 10  july       80 non-null     int64
 11  august     80 non-null     int64
 12  september  80 non-null     int64
 13  october    80 non-null     int64
 14  november   80 non-null     int64
 15  december   80 non-null     int64
 16  ytd        80 non-null     int64
dtypes: float64(1), int64(13), object(3)
memory usage: 10.8+ KB
None

In [49]:
print(df.tail(3))

                   branch              address     city  zip code  january  \
77  Whitney M. Young, Jr.     7901 S. King Dr.  Chicago   60619.0     2588
78       Woodson Regional  9525 S. Halsted St.  Chicago   60628.0    10564
79     Wrightwood-Ashburn  8530 S. Kedzie Ave.  Chicago   60652.0     3062

    february  march  april   may   june   july  august  september  october  \
77      2033   3099   3087  3005   2911   3123    3644       3547     3848
78      8874  10948   9299  9025  10020  10366   10892      10901    13272
79      2780   3334   3279  3036   3801   4600    3953       3536     4093

    november  december     ytd
77      3324      3190   37399
78     11421      9474  125056
79      3583      3200   42257

In [50]:
print(df.describe())

           zip code       january      february        march         april  \
count     80.000000     80.000000     80.000000     80.00000     80.000000
mean   60632.675000   7216.175000   6247.162500   8367.36250   8209.225000
std       28.001254  10334.622299   8815.945718  11667.93342  11241.223544
min    60605.000000      0.000000      0.000000      0.00000      0.000000
25%    60617.000000   2388.500000   1979.250000   2708.50000   2864.250000
50%    60629.000000   5814.500000   5200.000000   6468.50000   6286.000000
75%    60643.000000   9021.000000   8000.000000  10737.00000  10794.250000
max    60827.000000  79210.000000  67574.000000  89122.00000  88527.000000

                may          june          july        august     september  \
count     80.000000     80.000000     80.000000     80.000000     80.000000
mean    7551.725000   8581.125000   8708.887500   8918.550000   8289.975000
std    10532.352671  10862.742953  10794.030461  11301.149192  10576.005552
min        0.000000      0.000000      0.000000      2.000000      0.000000
25%     2678.500000   2953.750000   3344.750000   3310.500000   3196.750000
50%     5733.000000   6764.500000   6194.000000   6938.500000   6599.500000
75%     9406.250000  10852.750000  11168.000000  11291.750000  10520.000000
max    82581.000000  82100.000000  80219.000000  85193.000000  81400.000000

            october      november     december            ytd
count     80.000000     80.000000     80.00000      80.000000
mean    9033.437500   8431.112500   7622.73750   97177.475000
std    10826.494853  10491.875418   9194.44616  125678.282307
min        0.000000      0.000000      0.00000    9218.000000
25%     3747.000000   3168.000000   3049.75000   37119.250000
50%     7219.500000   6766.000000   5797.00000   73529.000000
75%    11347.500000  10767.000000   9775.00000  124195.750000
max    82236.000000  79702.000000  68856.00000  966720.000000

In [51]:
print(df.columns)

Index(['branch', 'address', 'city', 'zip code', 'january', 'february', 'march',
       'april', 'may', 'june', 'july', 'august', 'september', 'october',
       'november', 'december', 'ytd'],
      dtype='object')

In [52]:
#How do you get the first/last ten rows of the DataFrame?
#top 10
print(df.head(10))

#bottom 10
print(df.tail(10))

              branch                     address     city  zip code  january  \
0        Albany Park        5150 N. Kimball Ave.  Chicago   60625.0     8427
1            Altgeld       13281 S. Corliss Ave.  Chicago   60827.0     1258
2     Archer Heights         5055 S. Archer Ave.  Chicago   60632.0     8104
3             Austin           5615 W. Race Ave.  Chicago   60644.0     1755
4      Austin-Irving     6100 W. Irving Park Rd.  Chicago   60634.0    12593
5             Avalon  8148 S. Stony Island Ave.   Chicago   60617.0     5664
6  Back of the Yards          4650 S. Damen Ave.  Chicago   60609.0     5485
7            Beverly            1962 W. 95th St.  Chicago   60643.0     8049
8           Bezazian         1226 W. Ainslie St.  Chicago   60640.0     8875
9         Blackstone      4904 S. Lake Park Ave.  Chicago   60615.0     9351

   february  march  april    may   june   july  august  september  october  \
0      7023   9702   9344   8865  11650  11778   11306      10466    10997
1       708    854    804    816    870    713     480        702      927
2      6899   9329   9124   7472   8314   8116    9177       9033     9709
3      1316   1942   2200   2133   2359   2080    2405       2417     2571
4     11791  14807  14382  11754  14402  14605   15164      14306    15357
5      4367   5937   5980   5596   6286   6184    6933       6574     6955
6      5171   6024   6592   5170   4033   4832    3129         34        0
7      7473   9239   9449   8299  10053  10086    9595       8439     9610
8      7424  10887  11298  11739  15133  17067   18348      15412    15517
9      7938  10687  10760   9879  11639  11133   12428      11102    11781

   november  december     ytd
0     10567      9934  120059
1       787       692    9611
2      8809      7865  101951
3      2233      2116   25527
4     14069     12404  165634
5      6113      5295   71884
6         0         0   40470
7      8749      7578  106619
8     14860     15243  161803
9     11179     11005  128882
                   branch                    address     city  zip code  \
70            Water Works         163 E. Pearson St.  Chicago   60611.0
71           West Belmont  3104 N. Narragansett Ave.  Chicago   60634.0
72    West Chicago Avenue       4856 W. Chicago Ave.  Chicago   60651.0
73         West Englewood           1745 W. 63rd St.  Chicago   60636.0
74              West Lawn           4020 W. 63rd St.  Chicago   60629.0
75           West Pullman           830 W. 119th St.  Chicago   60643.0
76              West Town       1625 W. Chicago Ave.  Chicago   60622.0
77  Whitney M. Young, Jr.           7901 S. King Dr.  Chicago   60619.0
78       Woodson Regional        9525 S. Halsted St.  Chicago   60628.0
79     Wrightwood-Ashburn        8530 S. Kedzie Ave.  Chicago   60652.0

    january  february  march  april    may   june   july  august  september  \
70     2609      2870   3718   3529   3669   3666   4099    4292       4138
71     8889      8470  11577  11686   9020  10337  11273   10405       9659
72     1277       934   1961   2131   2091   2068   1884    2170       2147
73     1522      1422   1878   1975   1724   1819   1815    2193       2401
74     7606      6076   8552   8896   7313   8150   5703    7723       8201
75     3312      2713   3495   3550   3010   2968   3844    3811       3209
76     9030      7727  10450  10607  10139  10410  10601   11311      11084
77     2588      2033   3099   3087   3005   2911   3123    3644       3547
78    10564      8874  10948   9299   9025  10020  10366   10892      10901
79     3062      2780   3334   3279   3036   3801   4600    3953       3536

    october  november  december     ytd
70     4321      4219      3917   45047
71    11313     11445      9835  123909
72     2207      1612      1609   22091
73     2578      2097      1834   23258
74    10621      8101      7980   94922
75     3923      3162      3147   40144
76    10657     10797      9275  122088
77     3848      3324      3190   37399
78    13272     11421      9474  125056
79     4093      3583      3200   42257

In [61]:
#How do you get the rows between row 30 and row 40?

print(df.iloc[30:41])

                              branch                   address     city  \
30                              Hall     4801 S. Michigan Ave.  Chicago
31  Harold Washington Library Center          400 S. State St.  Chicago
32                         Hegewisch         3048 E. 130th St.  Chicago
33                     Humboldt Park          1605 N. Troy St.  Chicago
34                      Independence   3548 W. Irving Park Rd.  Chicago
35                    Jefferson Park     5363 W. Lawrence Ave.  Chicago
36                     Jeffery Manor         2401 E. 100th St.  Chicago
37                             Kelly  6151 S. Normal Boulevard  Chicago
38                              King          3436 S. King Dr.  Chicago
39                   Legler Regional        115 S. Pulaski Rd.  Chicago
40                   Lincoln Belmont       1659 W. Melrose St.  Chicago

    zip code  january  february  march  april    may   june   july  august  \
30   60615.0     2416      1914   2720   2644   2693   3134   3373    2953
31   60605.0    79210     67574  89122  88527  82581  82100  80219   85193
32   60633.0     3221      2749   3668   3492   3181   3324   3852    3934
33   60647.0     6251      5736   7798   8184   7509   7502   7019    7120
34   60618.0     8860      7653   9773  10897   9401  11998  12958   11913
35   60630.0     8819      8308  10663  11099   9422  10735  10591   11447
36   60617.0     1223      1115   1757   1811   1429   1531   1437    1702
37   60621.0      963       827   1315   1143   1004   1384   1585    1918
38   60616.0     1903      1795   2586   2875   3108   3255   3446    3732
39   60624.0     1344      1080   1635   1699   1425   1690   1485    1075
40   60657.0    14395     12810  17392  16567  14487  18539  17242   17970

    september  october  november  december     ytd
30       2894     2944      2836      2875   33396
31      81400    82236     79702     68856  966720
32       3570     3755      3617      3073   41436
33       6609     7424      6943      6730   84825
34      10682    11534     10603      9614  125886
35      10447    11033     10757      9755  123076
36       1554     1684      1613      1463   18319
37       1705     2200      1729      1575   17348
38       3505     3711      3257      3107   36280
39       1866     1791      1795      1602   18487
40      16568    17209     16397     14692  194268

In [72]:
#How do you get a specific column, e.g., 'year'? What kind of type() has the column?

print(df['may'])

0      8865
1       816
2      7472
3      2133
4     11754
      ...
75     3010
76    10139
77     3005
78     9025
79     3036
Name: may, Length: 80, dtype: int64

## Setup your Python and Jupyter environment

### Step 1: Install Python

1.	Download Python:

- Go to the official Python website.
- Download the latest version of Python (e.g., Python 3.x.x) for your operating system (Windows, macOS, or Linux).

2.	Install Python:  

Windows:
- Run the downloaded .exe file.
- IMPORTANT: During installation, check the box that says “Add Python to PATH”.
- Select “Customize installation” (optional, but helpful for control over features).
- Complete the installation.
  
macOS:
- Run the .pkg file and follow the instructions.
- Alternatively, use the terminal command (requires Homebrew):

```
brew install python3
```

Linux:
- Use the package manager (e.g., apt for Ubuntu):

```
sudo apt update
sudo apt install python3 python3-pip
```

3.	Verify Python Installation:

- Open a terminal or command prompt and type:
```
python --version
```

This should show the Python version you installed (e.g., Python 3.10.0).

### Step 2: Install a Package Manager (pip)

pip is the package manager for Python and is usually bundled with Python installations. You can use it to install additional libraries, including Jupyter.

1.Verify pip is installed:
- Open a terminal or command prompt and type:

```
pip --version
```

- If pip is installed, it will display the version.

2.	Upgrade pip (optional):
- It’s a good idea to keep pip up-to-date. In the terminal/command prompt, type:

```
python -m pip install --upgrade pip
```

### Step 3: Set Up a Virtual Environment (Optional but Recommended)

Virtual environments allow you to isolate Python packages and dependencies for different projects.

1.	Create a virtual environment:

Navigate to the directory where you want to set up the environment and run:

```
python -m venv myenv
```

This will create a virtual environment named myenv.

2. Activate the virtual environment:
Windows:

```
myenv\Scripts\activate
```

- macOS/Linux:

```
source myenv/bin/activate
```

3.	Deactivate the virtual environment: (when you’re done working)

```
deactivate
```


### Step 4: Install Jupyter Notebook

Jupyter is installed using pip. Once Python (and pip) is set up, Jupyter can be easily installed.

1. Install Jupyter:

In the terminal or command prompt (and optionally inside your virtual environment), type:

```
pip install jupyter
```

2.	Verify Jupyter Installation:

After installation, type:

```
jupyter --version
```

This should display the version of Jupyter.

### Step 5: Launch Jupyter Notebook

1.	Run Jupyter Notebook:

In your terminal/command prompt, type:

```
jupyter notebook
```

This will open Jupyter in your default web browser.

2.	Create a new notebook:
- In the Jupyter dashboard (the browser window), click New and select Python 3 to create a new notebook.

### Step 6: Install Common Python Packages

Install commonly used libraries such as numpy, pandas, and matplotlib.

1.	Install packages:

```
pip install numpy pandas matplotlib
```

2.	Test packages in Jupyter:
- In a new Jupyter notebook, try importing these libraries:

```
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
```

### Step 7: Configure Jupyter for Better Usage (Optional)

You can enhance your Jupyter environment with additional configurations.

1.	JupyterLab (an advanced alternative to Jupyter Notebook):

Install JupyterLab:
```
pip install jupyterlab
```

Launch JupyterLab by typing:
```
jupyter lab
```

2.	Install Jupyter Extensions (optional but useful):
- Jupyter extensions add useful features like a table of contents, variable inspector, etc.
- First, install jupyter_contrib_nbextensions:

```
pip install jupyter_contrib_nbextensions
jupyter contrib nbextension install --user
```

- Open Jupyter Notebook and enable the desired extensions from the Nbextensions tab.

### Step 8: Install Integrated Development Environment (IDE) (Optional)

You can install an IDE like VSCode or PyCharm for a better Python development experience.

1. Install Visual Studio Code:
- Download and install Visual Studio Code.
- Install the Python extension from the VSCode marketplace.

2. Configure Jupyter in VSCode:
- Once the Python extension is installed in VSCode, you can open .ipynb files (Jupyter notebooks) directly in VSCode and run them within the IDE.

### Step 9: Explore and Test

Your environment is now ready! Explore Python in Jupyter by writing and running simple code snippets, installing additional libraries as needed for specific projects, and trying out new features.

Troubleshooting Tips:

- Python not recognized: Ensure Python is added to your system’s PATH. On Windows, you can manually add it if you didn’t check the option during installation.
- Permission errors: Run commands with sudo on macOS/Linux or as an administrator on Windows if you encounter permission issues.
- Kernel issues in Jupyter: If you have multiple Python versions, ensure the correct Python environment is linked to Jupyter using the command python -m ipykernel install --user --name=myenv for the correct virtual environment.